ipython>=8.0
cython
jupyter
notebook>=7.0
numpy>=1.26
scipy>=1.11
scikit-image>=0.22
matplotlib>=3.8
pandas>=2.1
ccdproc>=2.4
pytest
beautifulsoup4
keyring
html5lib
xlwt
xlrd
requests
jupyterlab
jupyter-offlinenotebook
nbzip
nbgitpuller
astropy>=6.0
asdf
asdf-astropy
gwcs>=0.20
photutils>=1.10.0
specutils>=1.18.0
astroquery>=0.4.7dev9008
openpyxl
