ipython>=8.0
jupyter
jupyterlab>=4.0
numpy>=1.26
scipy>=1.11
scikit-image>=0.22
matplotlib>=3.8
pandas>=2.1
astropy>=6.1
photutils>=2.0
specutils>=1.18.0
astroquery>=0.4.7dev9008
astrowidgets>=0.3.0
jdaviz>=3.10
