ipython>=8.0
cython
jupyter
notebook>=6.0
numpy>=1.23
scipy>=1.11
scikit-image>=0.20
matplotlib>=3.6
pandas>=2.0
ccdproc>=2.0
pytest
beautifulsoup4
keyring
html5lib
xlwt
xlrd
requests
jupyterlab
jupyter-offlinenotebook
nbzip
nbgitpuller
astropy>=5.3.4
asdf
asdf-astropy
gwcs>=0.16
photutils>=1.9.0
specutils>=1.12.0
astroquery>=0.4.7dev8930 --pre
openpyxl
